html {
    background-color: #c59b08;
}

body {
    font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

p {
    color: black;
    font-size: 12px;
}

.hero-image {
    background-image: url("image.jpg");
    background-color: #f2ac08;
    min-height: 100%;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    font-size: 50px;
}

@media screen and (max-device-width: 800px) {
    * {
        margin: 0;
        padding: 0;
    }
    table {
        width: 100%;
        padding-left: 10%;
    }
    .rate {
        float: left;
        height: 46px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .rate:not(:checked)>input {
        position: absolute;
        top: -9999px;
    }
    .rate:not(:checked)>label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        font-size: 50px;
        color: rgb(145, 145, 145);
    }
    .rate:not(:checked)>label:before {
        content: '★ ';
    }
    .rate>input:checked~label {
        color: #ffc700;
    }
    .rate:not(:checked)>label:hover,
    .rate:not(:checked)>label:hover~label {
        color: #deb217;
    }
    .rate>input:checked+label:hover,
    .rate>input:checked+label:hover~label,
    .rate>input:checked~label:hover,
    .rate>input:checked~label:hover~label,
    .rate>label:hover~input:checked~label {
        color: #c59b08;
    }
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(52, 52, 52, 0.8);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
    }
    .overlay:target {
        visibility: visible;
        opacity: 1;
    }
    .wrapper {
        margin: 120px auto;
        padding: 42px;
        background: rgb(255, 255, 255);
        /* border-radius: 40px; */
        width: 70%;
        height: 70%;
        position: relative;
        transition: all 5s ease-in-out;
    }
    .wrapper h2 {
        margin-top: 0;
        color: rgb(103, 103, 103);
        font-size: 15px;
    }
    .wrapper .close {
        position: absolute;
        top: 10px;
        right: 20px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: rgb(255, 0, 0);
    }
    .wrapper .content {
        max-height: 100%;
        overflow: auto;
    }
    input[type=text],
    textarea {
        width: 100%;
        height: 20%;
        padding: 12px;
        /* border-radius: 5px; */
        box-sizing: border-box;
        margin-top: 40px;
        margin-bottom: 30px;
        background: #d9ecf7;
        border: none;
        vertical-align: auto;
    }
     ::placeholder {
        color: rgb(82, 81, 81);
        opacity: 0.7;
    }
    input[type=text]:focus {
        background: rgba(214, 213, 213, 0.8);
        outline: none;
    }
    textarea:focus {
        background: rgba(214, 213, 213, 0.8);
        outline: none;
    }
    input[type="submit"] {
        background-color: rgba(26, 93, 251, 0.8);
        color: rgb(255, 255, 255);
        padding: 15px 30px;
        border: none;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 2px;
        position: relative;
        /* margin-left: -40%; if you decide to move the bottom to the left */
    }
    input[type="submit"]:hover {
        background-color: rgb(0, 52, 149)
    }
    .btn {
        background-color: #d04c00;
        position: relative;
        top: 2.25em;
        right: -0.5em;
        outline: none;
        border: none;
    }
}

@media screen and (min-device-width: 800px) {
    * {
        margin: 0;
        padding: 0;
    }
    table {
        max-width: 100%;
        padding-left: 10%;
    }
    .rate {
        float: left;
        height: 46px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .rate:not(:checked)>input {
        position: absolute;
        top: -9999px;
    }
    .rate:not(:checked)>label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 85px;
        color: #ccc;
    }
    .rate:not(:checked)>label:before {
        content: '★ ';
    }
    .rate>input:checked~label {
        color: #ffc700;
    }
    .rate:not(:checked)>label:hover,
    .rate:not(:checked)>label:hover~label {
        color: #deb217;
    }
    .rate>input:checked+label:hover,
    .rate>input:checked+label:hover~label,
    .rate>input:checked~label:hover,
    .rate>input:checked~label:hover~label,
    .rate>label:hover~input:checked~label {
        color: #c59b08;
    }
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(132, 132, 132, 0.8);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
    }
    .overlay:target {
        visibility: visible;
        opacity: 1;
    }
    .wrapper {
        margin: 120px auto;
        padding: 42px;
        background: rgb(255, 255, 255);
        /* border-radius: 40px; */
        width: 30%;
        height: 60%;
        position: relative;
        transition: all 5s ease-in-out;
    }
    .wrapper h2 {
        margin-top: 0;
        color: rgb(103, 103, 103);
        font-size: 15px;
    }
    .wrapper .close {
        position: absolute;
        top: 10px;
        right: 20px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: rgb(255, 0, 0);
    }
    .wrapper .content {
        max-height: 100%;
        overflow: auto;
    }
    input[type=text],
    textarea {
        width: 100%;
        padding: 12px;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 40px;
        margin-bottom: 12px;
        background: #dcedff;
        border: none;
    }
     ::placeholder {
        color: rgb(82, 81, 81);
        opacity: 0.7;
    }
    input[type=text]:focus {
        background: rgba(214, 213, 213, 0.8);
        outline: none;
    }
    textarea:focus {
        background: rgba(214, 213, 213, 0.8);
        outline: none;
    }
    input[type="submit"] {
        background-color: rgba(26, 93, 251, 0.8);
        color: rgb(255, 255, 255);
        padding: 15px 30px;
        border: none;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 2px;
        position: relative;
    }
    input[type="submit"]:hover {
        background-color: rgb(0, 73, 208)
    }
}